@model ServiceApp.Models.ViewModels.SuburbVM

@{
    ViewData["Title"] = "Service4U";
}

<br />
<br />

<h3 class="text-center">New Employee</h3>
<form method="POST" asp-action="Create">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label class="col-4">
                        <label asp-for="Employee.Name"></label>
                    </label>
                </div>
                <div class="col-8">
                    <input asp-for="Employee.Name" class="form-control" />
                    <span asp-validation-for="Employee.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="col-10 offset-1 mt-4">
                <div class="form-group row">
                    <div class="col-4">
                        <label class="col-4">
                            <label asp-for="Employee.Phone"></label>
                        </label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Employee.Phone" class="form-control" />
                        <span asp-validation-for="Employee.Phone" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-10 offset-1 mt-4">
                <div class="form-group row">
                    <div class="col-4">
                        <label class="col-4">
                            <label asp-for="Employee.About"></label>
                        </label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Employee.About" class="form-control" />
                        <span asp-validation-for="Employee.About" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-10 offset-1 mt-4">
                <div class="form-group row">
                    <div class="col-4">
                        <label class="col-4">
                            <label asp-for="Employee.Suburb"></label>
                        </label>
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(m => m.Employee.SuburbID, Model.ListSuburbs, "-Select suburb-", new{@class = "form-control"})

                    </div>
                </div>
            </div>

             <div class="col-10 offset-1 mt-4">
                <div class="form-group row">
                    <div class="col-4">
                        <label class="col-4">
                            <label asp-for="Employee.City"></label>
                        </label>
                    </div>
                    <div class="col-8">
                          @Html.DropDownListFor(m => m.Employee.CityID, Model.ListCities , "-Select City-", new{@class = "form-control"})  
                    </div>
                </div>
            </div>

            <div class="col-10 offset-1 mt-4">
                <div class="form-group row">
                    <div class="col-4">
                        <label class="col-4">
                            <label asp-for="Employee.City"></label>
                        </label>
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(m => m.Employee.CountryID, Model.ListCountries , "-Select Country-", new{@class = "form-control"})
                    </div>
                </div>
            </div>
            <div class="col-10 offset-1 mt-4">
                <div class="form-group row">
                    <div class="col-4">
                        <label class="col-4">
                            <label asp-for="Employee.Language"></label>
                        </label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Employee.Language" class="form-control" />
                        <span asp-validation-for="Employee.Language" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-10 offset-1 mt-4">
                <div class="form-group row">
                    <div class="col-4">
                        <label class="col-4">
                            <label asp-for="Employee.Email"></label>
                        </label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Employee.Email" class="form-control" />
                        <span asp-validation-for="Employee.Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

          
            <div class="col-10 offset-1 mt-4">
                <div class="form-group row">
                    <div class="col-4">
                        <label class="col-4">
                            <label asp-for="Employee.DateOfBirth"></label>
                        </label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Employee.DateOfBirth" class="form-control" />
                        <span asp-validation-for="Employee.DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
            </div>
 

            <div class="form-group row">
                <div class="col-8">
                    <partial name="_ViewCreateReturn" />
                </div>
            </div>
        </div>
    </div>



</form>