@model ServiceApp.Models.ViewModels.SuburbVM

@{
    ViewData["Title"] = "Service4U";
}

<br />
<br />

<h3 class="text-center">Edit Employee</h3>
<form method="POST" asp-action="Edit">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Employee.EmployeeID" hidden class="form-control" />
        <input asp-for="Employee.About" hidden class="form-control" />
        <input asp-for="Employee.DateOfBirth" hidden class="form-control" />
        <input asp-for="Employee.Phone" hidden class="form-control" />
        <input asp-for="Employee.Email" hidden class="form-control" />

        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label class="col-4">
                        <label asp-for="Employee.Name"></label>
                    </label>
                </div>
                <div class="col-8">
                    <input asp-for="Employee.Name" class="form-control" />
                    <span asp-validation-for="Employee.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="col-10 offset-1 mt-4">
                <div class="form-group row">
                    <div class="col-4">
                        <label class="col-4">
                            <label asp-for="Employee.Suburb"></label>
                        </label>
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(m => m.Employee.SuburbID, Model.ListSuburbs, "-Select suburb-", new{@class = "form-control"})

                    </div>
                </div>
            </div>

            <div class="col-10 offset-1 mt-4">
                <div class="form-group row">
                    <div class="col-4">
                        <label class="col-4">
                            <label asp-for="Employee.City"></label>
                        </label>
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(m => m.Employee.CityID, Model.ListCities , "-Select City-", new{@class = "form-control"})
                    </div>
                </div>
            </div>

            <div class="col-10 offset-1 mt-4">
                <div class="form-group row">
                    <div class="col-4">
                        <label class="col-4">
                            <label asp-for="Employee.City"></label>
                        </label>
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(m => m.Employee.CountryID, Model.ListCountries , "-Select Country-", new{@class = "form-control"})
                    </div>
                </div>
            </div>
            <div class="col-4">
                <label class="col-4">
                    <label asp-for="Employee.Language"></label>
                </label>
            </div>
            <div class="col-8">
                <input asp-for="Employee.Language" class="form-control" />
                <span asp-validation-for="Employee.Language" class="text-danger"></span>
            </div>
        </div>
  
            <fieldset class="form-group">
                <legend class="mt-4"><label></label></legend>
                <div class="form-check">

                <input asp-for="Employee.Available" class="form-check-input" type="checkbox" />
                <label class="form-check-label" asp-for="Employee.Available"></label>
                <span asp-validation-for="Employee.Available" class="text-danger"></span>
                </div>
                <div class="form-check">
                <input class="form-check-input" asp-for="Employee.Active" type="checkbox">
                <label class="form-check-label" asp-for="Employee.Active"></label>
                <span asp-validation-for="Employee.Active" class="form-check-label"></span>
                </div>
            </fieldset>

            <div class="form-group  row">
                <div class="col">
                <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model.Employee.EmployeeID"> Update</button>
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Return</a>
                </div>
            </div>
       



</form>