
<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <h2 class="text-primary">Available farm workers</h2>
        </div>
       
    </div>

    <br />
    <br />
    <table id="tblEmployees" class="table table-striped align-middle table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Suburb</th>
                <th>Phone</th>
                <th>Language</th>
                <th>Actions:</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/FindEmployees.js"></script>
}