@using Microsoft.AspNetCore.Identity
@using ServiceApp.Utilities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ServiceApp</title>

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
          rel="stylesheet" />
    <!--Css todos-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ServiceApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                   <ul class="navbar-nav me-auto">
                        @if (User.IsInRole(Constants.Admin))
                        {
                            <li class="nav-item">
                                <a class="navbar-brand text-white" asp-area="Client" asp-controller="Home" asp-action="Index">  Service4U</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Client" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="Employees" asp-action="Index">Employees</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="Contractors" asp-action="Index">Contractors</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="JobCategories" asp-action="Index">Job Categories</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="Articles" asp-action="Index">Articles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="Categories" asp-action="Index">Articles Categories</a>

                            </li>
                        }
                        else if(User.IsInRole(Constants.Contractor)){
                            <li class="nav-item">
                                <a class="navbar-brand text-white" asp-area="Client" asp-controller="Home" asp-action="Index">  Service4U</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Client" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Orchard</a>
                                    <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Client" asp-controller="Orchards" asp-action="Details">  Apple</a>
                                    <a class="dropdown-item" asp-area="Client" asp-controller="Orchards" asp-action="Details">Cherry</a>
                                    <a class="dropdown-item" asp-area="Client" asp-controller="Orchards" asp-action="Details">Kiwi fruit</a>
                                        <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="Client" asp-controller="Orchards" asp-action="Details">Strawberry</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dairy Farm</a>
                                    <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Client" asp-controller="Orchards" asp-action="Details">Action</a>
                                    <a class="dropdown-item" asp-area="Client" asp-controller="Orchards" asp-action="Details">Another action</a>
                                    <a class="dropdown-item" asp-area="Client" asp-controller="Orchards" asp-action="Details">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Client" asp-controller="Home" asp-action="Articles">Guide</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Client" asp-controller="Home" asp-action="Contact">Contact</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Client" asp-controller="Orchards" asp-action="Edit">My Profile</a>

                            </li>
                        }
                        else if(User.IsInRole(Constants.Employee)){

                            <li class="nav-item">
                                <a class="navbar-brand text-white" asp-area="Client" asp-controller="Home" asp-action="Index">  Service4U</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Client" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Client" asp-controller="Home" asp-action="Index"> Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Client" asp-controller="Home" asp-action="Articles">Guide</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Client" asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                        }
                        else if (User.IsInRole(Constants.Writer))
                        {
                            <li class="nav-item">
                                <a class="navbar-brand text-white" asp-area="Client" asp-controller="Home" asp-action="Index">  Service4U</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Client" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="Articles" asp-action="Index">Articles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" asp-controller="Categories" asp-action="Index">Articles Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Client" asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="navbar-brand text-white" asp-area="Client" asp-controller="Home" asp-action="Index">  Service4U</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Client" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Client" asp-controller="Home" asp-action="Articles">Guide</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Client" asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer fixed-bottom bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">Service4U</a>
        </div>
        <!-- Copyright -->
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--Js plugins-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/0f48d8c00d.js" crossorigin="anonymous"></script>


    <!-- MDB -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
